*{
margin: 0;
padding: 0;
}

.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    width: 350px;
    height: 400px;
    border: 0.1px solid #c8cccf;
}

#img{
 width:250px;
 height:75px;
 display: block;
 margin-top: 8%;
 margin-left: auto;
 margin-right: auto;
fill: #fff;
}

#username{
   margin-top: 40px;
}
#username, #password{
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: 30px;
   width: 250px;
   margin-bottom: 8px;
}

    .login-btn{
    display: block;
    border:none;
    margin: auto;
    border-radius: 4px;
    width: 260px;
    height: 28px;
    background-color: #458eff;
    }

    #p{
      color: cornsilk;
      font-size: 14px;
      margin: 5px;
    }

    ::placeholder{
        display: block;
        margin: auto;
        font-size: 12px;
    }

    #hr{
        display: block;
        margin-top: 100px;
    }


    #linka{
        text-decoration: none;
        display: block;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        color: rgba(var(--fe0,0,55,107),1);
    }

    #linka a{
        text-decoration: none;
    }
.book{
    background-image: url();
}

#face{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 15px;

}
#hr{
    margin: 20px;
}

#facebook{
    color: #385185;
}

.footer{
    display: block;
    text-align: center;
    margin: auto;
    padding-top: 30px;
}

#apple img{
    display: inline;
  height: 40px;
  width: auto;
  margin-top: 20px;
}
#android img{
    display: inline;
    height: 40px;
    width: auto;
  }